<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sanjeevani hospital</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="{% url 'home_url' %}">Home</a>
                </li>

                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'create_appointment_url' %}">
                        Register
                    </a>
                </li>

                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'show_appointments_url' %}">
                        Appointments
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'logout_view_url' %}">
                        Logout
                    </a>
                </li>

                <li class="nav-item">
                    {% if user.is_superuser %}
                    <h5>
                        LOGGED BY SUPERUSER :
                        <span style="color: brown;">
                            {{ user.username }}
                        </span>
                    </h5>
                    {% else %}
                    <h5>
                        LOGGED BY USER :
                        <span style="color: chartreuse;">
                            {{ user.username }}
                        </span>
                    </h5>
                    {% endif %}
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'register_form_url' %}">
                        SignUp
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                        href="{% url 'login_view_url' %}">
                        LogIn
                    </a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
