{% extends 'base.html' %}

{% block content %}
<table class="table" border="2px">
    <thead>
        <tr>
        <th scope="col">NAME</th>
        <th scope="col">PHONE NUMBER</th>
        <th scope="col"> APPOINTMENT DATE</th>
        <th scope="col">APPOINTMENT TIME</th>
        <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.patient_name }}</td>
        <td>{{ appointment.patient_phone }}</td>
        <td>{{ appointment.appointment_date }}</td>
        <td>{{ appointment.appointment_time }}</td>
        <td><a href="{% url 'info_appointment_urls' appointment.id %}">Info</a></td>
        <td><a href="{% url 'update_appointment_urls' appointment.id %}">Update</a></td>
        <td><a href="{% url 'delete_appointment_urls' appointment.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}